@model List<Leccion>

<div class="container-fluid pt-4">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Listado de Lecciones</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Leccion" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Agregar Leccion
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    
                    <!-- Trae solo los campos necesarios, no todos-->
                    <th>Nombre Leccion</th>
                    <th>Libro</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.Descripcion))
                {
                    <tr>
                        <td>@obj.Descripcion</td>
                        <td>@obj.IdLibro</td>
                        <td>
                            <div class="btn-group w-100" role="group">
                                <a asp-controller="Leccion" asp-action="Edit" asp-route-id="@obj.IdLeccion" class="btn btn-primary flex-grow-1">
                                    <i class="bi bi-pencil-fill"></i> Editar
                                </a>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

