@model IEnumerable<Proyecto_Facultad.Models.AvanceMesa>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid pt-4">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Avance mesas</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="AvanceMesa" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Agregar avance
            </a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <table class="table custom-table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdNivelNavigation.NombreNivel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdBimestreNavigation.NombreBimestre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdLibroNavigation.NombreLibro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdLeccionNavigation.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdMesaNavigation.IdMesa)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdNivelNavigation.NombreNivel</td>
                    <td>@item.IdBimestreNavigation.NombreBimestre</td>
                    <td>@item.IdLibroNavigation.NombreLibro</td>
                    <td>@item.IdLeccionNavigation.Descripcion</td>
                    <td>@item.IdMesaNavigation.IdMesa</td>
                    <td>
                      <div class="btn-group w-100" role="group">
                        <a asp-action="Edit" asp-route-id="@item.IdAvancemesa" class="btn btn-warning w-100">
                           <i class="bi bi-pencil-fill"></i> Editar
                          </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
            </table>
    </table>
</div>