@model List<Proyecto_Facultad.Models.Alumno>
<style>
    .custom-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1em;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    }

        .custom-table thead {
            background-color: #343a40;
            color: white;
        }

    .btn-info-dark {
        background-color: #017a8a; /* Un tono más oscuro de cian */
        border-color: #017a8a;
        color: white; /* Mantén el texto en blanco para el contraste */
        .btn-info-dark:focus, .btn-info-dark:active
    }

    .custom-table th, .custom-table td {
        padding: 12px 15px;
        text-align: left;
        white-space: nowrap; /* Esto evitará que el contenido se extienda innecesariamente */
    }

    .custom-table tbody tr {
        transition: background-color 0.3s;
    }

        .custom-table tbody tr:hover {
            background-color: #f2f2f2;
        }

    .custom-table a:hover {
        text-decoration: underline;}
</style>
@{
    // Función para calcular la edad a partir de la fecha de nacimiento
    int? CalcularEdad(DateOnly? fechaNacimiento)
    {
        if (fechaNacimiento == null)
        {
            return null;
        }

        var hoy = DateOnly.FromDateTime(DateTime.Today);
        var edad = hoy.Year - fechaNacimiento.Value.Year;

        // Ajustar la edad si el cumpleaños de este año aún no ha pasado
        if (fechaNacimiento.Value.Month > hoy.Month ||
            (fechaNacimiento.Value.Month == hoy.Month && fechaNacimiento.Value.Day > hoy.Day))
        {
            edad--;
        }

        return edad;
    }
}
<style>
    .custom-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1em;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    }

    .custom-table thead {
        background-color: #343a40;
        color: white;
    }

    .custom-table th,
    .custom-table td {
        padding: 12px 15px;
        text-align: left;
    }

    .custom-table tbody tr {
        transition: background-color 0.3s;
    }

    .custom-table tbody tr:hover {
        background-color: #f2f2f2;
    }

    .custom-table a {
        color: #007bff;
        text-decoration: none;
    }

    .custom-table a:hover {
        text-decoration: underline;
    }
</style>
<div class="container-fluid pt-4">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Listado de alumnos</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Alumno" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Agregar estudiante
            </a>
        </div>
    </div>

<div class="table-responsive">
<<<<<<< HEAD
        <table class="table table-bordered table-striped custom-table">
=======
    <table class="table table-bordered table-striped">
    <table class="table custom-table table-striped table-bordered">
>>>>>>> df9eb81c9d1907581ce522d4cd1b9dbea105eec1
        <thead>
            <tr>
                <th>No.</th>
                <th>Nombre completo</th>
                <th>Otros nombres</th>
                <th>Apellido de casado</th>
                <th>Fecha de nacimiento</th>
                <th>Fecha de bautizo</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>DPI</th>
                <th>NIT</th>
                <th>Género</th>
                <th>Estado civil</th>
                <th>Red</th>
                <th>Código frater</th>
                <th>Inscrito</th>
                <th>Retiro</th>
                <th>Reuniones en confianza</th>
                <th>Otros</th>
                <th>Estatus</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.PrimerApellidoAlumno))
            {
                <tr>
                    <td>@obj.IdAlumno</td>
                    <td>@($"{obj.PrimerNombreAlumno} {obj.SegundoNombreAlumno} {obj.PrimerApellidoAlumno} {obj.SegundoApellidoAlumno}")</td>
                    <td>@obj.OtrosNombresAlumno</td>
                    <td>@obj.ApellidoCasado</td>
                    <td>@obj.FechaNacimientoAlumno.ToShortDateString()</td>
                    <td>@(obj.FechaBautizoAlumno.HasValue ? obj.FechaBautizoAlumno.Value.ToShortDateString() : "N/A")</td>
                    <td>@obj.Direccion</td>
                    <td>@obj.Telefono</td>
                    <td>@obj.Dpi</td>
                    <td>@obj.Nit</td>
                    <td>@obj.Genero</td>
                        @{
                                switch (@obj.EstadoCivil)
                                {
                                    case "1":
                                    <td>Soltero</td>
                                        break;
                                    case "2":
                                    <td>Casado</td>
                                        break;
                                    case "3":
                                    <td>Divorciado</td>
                                        break;
                                    case "4":
                                    <td>Viudo</td>
                                        break;
                                }
                            }
                                @* 1=soltero 2=casado 3=divorciado 4=viudo *@
                    <td>@obj.NumeroCelula</td>
                    <td>@obj.CodigoFrater</td>
                    <td>@(obj.Becado == true ? "Sí" : "No")</td>
                    <td>@(obj.Retiro == true ? "Sí" : "No")</td>
                    <td>@(obj.ReunionesEnConfianza == true ? "Sí" : "No")</td>
                    <td>@(obj.Otros == true ? "Sí" : "No")</td>
                        <td>
                            @if (obj.EstatusAlumno)
                            {
                                <span class="badge bg-success">Activo</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Inactivo</span>
                            }
                        </td>
                    <td>
<<<<<<< HEAD
                            <div class="d-grid gap-2">
                                <a asp-controller="Alumno" asp-action="Edit" asp-route-id="@obj.IdAlumno" class="btn btn-warning text-white d-flex justify-content-center align-items-center">
                                    <i class="bi bi-pencil-fill me-2"></i> Editar
                                </a>
                                <!-- Botón de Activar (solo aparece si el alumno está inactivo) -->
                                @if (!obj.EstatusAlumno)
                                {
                                    <form asp-action="Activate" method="post">
                                        <button type="submit" asp-controller="Alumno" asp-action="Activate" asp-route-id="@obj.IdAlumno" class="btn text-white" style="background-color: #00A1A9;">
                                            <i class="bi bi-check-lg me-2"></i> Activar
                                        </button>
                                    </form>
                                }
                                <!-- Botón de Inactivar (solo aparece si el alumno está activo)-->
                                @if (obj.EstatusAlumno)
                                {
                                    <form asp-action="Deactivate" method="post">
                                        <button type="submit" asp-controller="Alumno" asp-action="Deactivate" asp-route-id="@obj.IdAlumno" class="btn btn-danger d-flex justify-content-center align-items-center">
                                            <i class="bi bi-x-lg me-2"></i> Inactivar
                                        </button>
                                    </form>
                                }
=======

                            <div class="btn-group w-100" role="group">
                                <div class="me-2">
                                    <a asp-controller="Alumno" asp-action="Edit" asp-route-id="@obj.IdAlumno" class="btn btn-warning btn-sm" style="padding: 8px 20px;">
                                        <i class="bi bi-pencil-fill me-2"></i> Editar
                                    </a>
                                </div>
                                <div>
                                    <form asp-action="Deactivate" method="post" class="d-inline">
                                        <button type="submit" asp-controller="Alumno" asp-action="Deactivate" asp-route-id="@obj.IdAlumno" class="btn btn-info-dark btn-sm" style="padding: 8px 20px;">
                                            <i class="bi bi-power me-2"></i> Estado
                                        </button>
                                    </form>
                                </div>
>>>>>>> df9eb81c9d1907581ce522d4cd1b9dbea105eec1
                            </div>
                    </td>
                </tr>
            }
        </tbody>
         </table>
    </table>
</div>
