@model IEnumerable<Proyecto_Facultad.Models.AsistenciaStaff>

<div class="container-fluid pt-4">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Asistencias de Maestros</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Agregar asistencia
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Fecha de Clase</th>
                    <th>Bimestre</th>
                    <th>Lección</th>
                    <th>Mesa</th>
                    <th>Ausencia</th>
                    <th>Staff</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FechaClase</td>
                        <td>@item.IdBimestreNavigation?.NombreBimestre</td>
                        <td>@item.IdLeccionNavigation?.Descripcion</td>
                        <td>@item.IdMesaNavigation?.IdMesa</td>
                        <td>@item.Ausencia</td>
                        <td>@item.IdStaffNavigation?.NivelAprobado</td>
                        <td>
                            <div class="btn-group w-100" role="group">
                                <a asp-action="Edit" asp-route-id="@item.IdAsistenciaStaff" class="btn btn-primary w-100">
                                    <i class="bi bi-pencil-fill"></i> Editar
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
