@model List<Capacitacion>

<div class="container-fluid pt-4">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Listado de Capacitaciones</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Capacitacions" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Agregar capacitación
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Fecha de Capacitación</th>
                    <th>Nivel Aprobado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(c => c.FechaCapacitacion))
                {
                    <tr>
                        <td>@item.FechaCapacitacion.ToString("dd/MM/yyyy")</td>
                        <td>@item.IdStaffNavigation.NivelAprobado</td>
                        <td>
                            <div class="d-grid gap-2">
                                <a asp-controller="Capacitacions" asp-action="Edit" asp-route-id="@item.IdCapacitacion" class="btn btn-primary">
                                    <i class="bi bi-pencil-fill"></i> Editar
                                </a>
                                <a asp-controller="Capacitacions" asp-action="Delete" asp-route-id="@item.IdCapacitacion" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i> Eliminar
                                </a>
                                <a asp-controller="Capacitacions" asp-action="Details" asp-route-id="@item.IdCapacitacion" class="btn btn-info">
                                    <i class="bi bi-info-circle-fill"></i> Detalle
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
