@model IEnumerable<Proyecto_Facultad.Models.Capacitacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaCapacitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdStaffNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCapacitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdStaffNavigation.NivelAprobado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCapacitacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCapacitacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCapacitacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
