@model List<Libro>

<div class="container-fluid pt-4">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Listado Libros</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Libro" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Agregar Libro
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>

                    <!-- Trae solo los campos necesarios, no todos-->
                    <th>Nombre Libro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.NombreLibro))
                {
                    <tr>
                        <td>@obj.NombreLibro</td>
                        <td>
                            <div class="btn-group w-50" role="group"
                                style="justify-content: center; align-items: center; display: flex;">
                                <div style="padding-right: 1%;">
                                    <a asp-controller="Libro" asp-action="Edit" asp-route-id="@obj.IdLibro"
                                        class="btn btn-warning flex-grow-1">
                                        <i class="bi bi-pencil-fill"></i> Editar
                                    </a>
                                </div>
                                <div>
                                    <a asp-controller="Libro" asp-action="Delete" asp-route-id="@obj.IdLibro"
                                        class="btn btn-danger flex-grow-1">
                                        <i class="bi bi-trash-fill"></i> Eliminar
                                    </a>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
