@model Proyecto_Facultad.Controllers.MesaDetalleViewModel

<style>
    .custom-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1em;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    }

    .custom-table thead {
        background-color: #343a40;
        color: white;
    }

    .custom-table th,
    .custom-table td {
        padding: 12px 15px;
        text-align: left;
    }

    .custom-table tbody tr {
        transition: background-color 0.3s;
    }

    .custom-table tbody tr:hover {
        background-color: #f2f2f2;
    }

    .custom-table a {
        color: #007bff;
        text-decoration: none;
    }

    .custom-table a:hover {
        text-decoration: underline;
    }
</style>

<div class="container mt-4">
    <h1 class="mb-4">Detalles de la Mesa @Model.Mesa.IdMesa</h1>

    <h2 class="mb-3">Alumnos Asignados</h2>
    <div class="table-responsive mb-4">
        <table class="table custom-table table-striped table-bordered">
            <thead >
                <tr>
                    <th scope="col">Id Alumno</th>
                    <th scope="col">Nombre Completo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var alumno in Model.Alumnos)
                {
                    <tr>
                        <td>@alumno.IdAlumno</td>
                        <td>@alumno.NombreCompleto</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <h2 class="mb-3">Maestros Asignados</h2>
    <div class="table-responsive">
        <table class="table custom-table table-striped table-bordered">
            <thead >
                <tr>
                    <th scope="col">Id Maestro</th>
                    <th scope="col">Nombre Completo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var maestro in Model.Maestros)
                {
                    <tr>
                        <td>@maestro.IdStaff</td>
                        <td>@maestro.NombreCompleto</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group d-flex" style="width: 20%; padding-top: 2%;">
        <a asp-action="Index" asp-controller="MesaDetalle" class="btn btn-primary flex-fill">
            <i class="bi bi-arrow-left"></i> Regresar
        </a>
    </div>

</div>


<!-- Include Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.js"></script>
