@model IEnumerable<dynamic>

<style>
    .custom-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1em;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    }

    .custom-table thead {
        background-color: #343a40;
        color: white;
    }

    .custom-table th,
    .custom-table td {
        padding: 12px 15px;
        text-align: left;
    }

    .custom-table tbody tr {
        transition: background-color 0.3s;
    }

    .custom-table tbody tr:hover {
        background-color: #f2f2f2;
    }

    .custom-table a {
        color: #007bff;
        text-decoration: none;
    }

    .custom-table a:hover {
        text-decoration: underline;
    }
</style>

<div class="container mt-4">
    <h1 class="mb-4">Mesas</h1>

    <div class="table-responsive mb-4">
        <table class="table custom-table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">No. mesa</th>
                    <th scope="col">Sede</th>
                    <th scope="col">Jornada</th>
                    <th scope="col">Fecha inicio</th>
                    <th scope="col">Fecha fin</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Detalles</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mesa in Model)
                {
                    <tr>
                        <td>@mesa.IdMesa</td>
                        <td>@mesa.SedeDescripcion</td>
                        <td>@mesa.JornadaDescripcion</td>
                        <td>@mesa.FechaInicio</td>
                        <td>@mesa.FechaFin</td>
                        <td>@mesa.EstadoMesa</td>
                        <td>
                            <form asp-action="Detalle" method="get">
                                <input type="hidden" name="id" value="@mesa.IdMesa" />
                                <button type="submit" class="btn" style="background-color: #2F4F4F; color: white;">Ver Detalles</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>