@model IEnumerable<Proyecto_Facultad.Models.AsignacionMaestro>

<div class="container-fluid pt-4">
    <!-- Mensajes de éxito o error -->
    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Asignar maestro a mesa</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="AsignacionMaestroes" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Asignar un maestro a una mesa
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre del maestro</th>
                    <th>Mesa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.IdAsignacionmaestros))
                {
                    <tr>
                        <td>@obj.IdStaffNavigation.PrimerNombreStaff @obj.IdStaffNavigation.PrimerApellidoStaff</td>
                       <td>@obj.IdMesaNavigation.IdJornada</td>
                        <td>
                            <div class="btn-group w-100" role="group">
                                <a asp-controller="AsignacionMaestroes" asp-action="Edit" asp-route-id="@obj.IdAsignacionmaestros" class="btn btn-primary flex-grow-1">
                                    <i class="bi bi-pencil-fill"></i> Editar
                                </a>
                                <form asp-controller="AsignacionMaestroes" asp-action="Delete" asp-route-id="@obj.IdAsignacionmaestros" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-danger flex-grow-1" onclick="return confirm('¿Estás seguro de que deseas eliminar esta asignación?');">
                                        <i class="bi bi-trash-fill"></i> Eliminar
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
