@model IEnumerable<Proyecto_Facultad.Models.Staff>

<div class="container-fluid pt-4">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Lista de Personal</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Staffs" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Agregar nuevo personal
            </a>
        </div>
    </div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Primer Nombre</th>
                <th>Segundo Nombre</th>
                <th>Otros Nombres</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Apellido Casado</th>
                <th>Fecha Nacimiento</th>
                <th>Fecha Bautizo</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>DPI</th>
                <th>NIT</th>
                <th>Estado Civil</th>
                <th>Genero</th>
                <th>Número Celula</th>
                <th>Nivel Aprobado</th>
                <th>Código Frater</th>
                <th>Estatus</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in Model)
            {
                <tr>
                    <td>@staff.IdStaff</td>
                    <td>@staff.PrimerNombreStaff</td>
                    <td>@staff.SegundoNombreStaff</td>
                    <td>@staff.OtrosNombresStaff</td>
                    <td>@staff.PrimerApellidoStaff</td>
                    <td>@staff.SegundoApellidoStaff</td>
                    <td>@staff.ApellidoCasado</td>
                    <td>@staff.FechaNacimientoStaff.ToShortDateString()</td>
                    <td>
                        @if (staff.FechaBautizoStaff.HasValue)
                        {
                            @staff.FechaBautizoStaff.Value.ToShortDateString()
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </td>
                    <td>@staff.Direccion</td>
                    <td>@staff.Telefono</td>
                    <td>@staff.Dpi</td>
                    <td>@staff.Nit</td>
                        @{
                            switch (@staff.EstadoCivil)
                            {
                                case "1":
                                    <td>Soltero</td>
                                    break;
                                case "2":
                                    <td>Casado</td>
                                    break;
                                case "3":
                                    <td>Divorciado</td>
                                    break;
                                case "4":
                                    <td>Viudo</td>
                                    break;
                            }
                        }
                        @* 1=soltero 2=casado 3=divorciado 4=viudo *@
                    <td>@staff.Genero</td>
                    <td>@staff.NumeroCelula</td>
                    <td>@staff.NivelAprobado</td>
                    <td>@staff.CodigoFrater</td>
                    <td>
                        @if (staff.EstatusStaff)
                        {
                            <span class="badge bg-success">Activo</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Inactivo</span>
                        }
                    </td>
                    <td>@staff.IdUsuarioNavigation?.NombreUsuario</td> <!-- Asumiendo que el modelo Usuario tiene una propiedad NombreUsuario -->
                    <td>
                            <div class="d-grid gap-2">
                                <a asp-controller="Staffs" asp-action="Edit" asp-route-id="@staff.IdStaff" class="btn btn-primary d-flex justify-content-center align-items-center">
                                    <i class="bi bi-pencil-fill me-2"></i> Editar
                                </a>
                                <form asp-action="Deactivate" method="post" >
                                    <button type="submit" asp-controller="Staffs" asp-action="Deactivate" asp-route-id="@staff.IdStaff" class="btn btn-danger d-flex justify-content-center align-items-center">
                                        <i class="bi bi-trash-fill me-2"></i> Activar/Desactivar
                                    </button>
                                </form>
                            </div>







                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
