@model IEnumerable<Proyecto_Facultad.Models.Staff>
<style>
    .custom-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1em;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    }

        .custom-table thead {
            background-color: #343a40;
            color: white;
        }

    .btn-info-dark {
        background-color: #017a8a; /* Un tono más oscuro de cian */
        border-color: #017a8a;
        color: white; /* Mantén el texto en blanco para el contraste */
        .btn-info-dark:focus, .btn-info-dark:active
    }

    .custom-table th, .custom-table td {
        padding: 12px 15px;
        text-align: left;
        white-space: nowrap; /* Esto evitará que el contenido se extienda innecesariamente */
    }

    .custom-table tbody tr {
        transition: background-color 0.3s;
    }

        .custom-table tbody tr:hover {
            background-color: #f2f2f2;
        }

    .custom-table a:hover {
        text-decoration: underline;
    }
</style>
<div class="container-fluid pt-4">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Lista de personal</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Staffs" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Agregar personal
            </a>
        </div>
    </div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Primer nombre</th>
                <th>Segundo nombre</th>
                <th>Otros nombres</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Apellido casado</th>
                <th>Fecha nacimiento</th>
                <th>Fecha bautizo</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>DPI</th>
                <th>NIT</th>
                <th>Estado civil</th>
                <th>Género</th>
                <th>Número celula</th>
                <th>Nivel aprobado</th>
                <th>Código frater</th>
                <th>Estatus</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in Model)
            {
                <tr>
                    <td>@staff.IdStaff</td>
                    <td>@staff.PrimerNombreStaff</td>
                    <td>@staff.SegundoNombreStaff</td>
                    <td>@staff.OtrosNombresStaff</td>
                    <td>@staff.PrimerApellidoStaff</td>
                    <td>@staff.SegundoApellidoStaff</td>
                    <td>@staff.ApellidoCasado</td>
                    <td>@staff.FechaNacimientoStaff.ToShortDateString()</td>
                    <td>@staff.FechaBautizoStaff</td>
                    <td>@staff.Direccion</td>
                    <td>@staff.Telefono</td>
                    <td>@staff.Dpi</td>
                    <td>@staff.Nit</td>
                    <td>@staff.EstadoCivil</td>
                    <td>@staff.Genero</td>
                    <td>@staff.NumeroCelula</td>
                    <td>@staff.NivelAprobado</td>
                    <td>@staff.CodigoFrater</td>
                    <td>
                        @if (staff.EstatusStaff)
                        {
                            <span class="badge bg-success">Activo</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Inactivo</span>
                        }
                    </td>
                    <td>@staff.IdUsuarioNavigation?.NombreUsuario</td> 
                    <td>
                            <div class="btn-group w-100" role="group">
                                <div class="me-2">
                                    <a asp-controller="Staffs" asp-action="Edit" asp-route-id="@staff.IdStaff" class="btn btn-warning btn-sm" style="padding: 8px 20px;">
                                        <i class="bi bi-pencil-fill me-2"></i> Editar
                                    </a>
                                </div>
                                <div>
                                    <form asp-action="Deactivate" method="post" class="d-inline">
                                        <button type="submit" asp-controller="Staffs" asp-action="Deactivate" asp-route-id="@staff.IdStaff" class="btn btn-info-dark btn-sm" style="padding: 8px 20px;">
                                            <i class="bi bi-power me-2"></i> Estado
                                        </button>
                                    </form>
                                </div>
                            </div>
                    </td>
                </tr>
            }
        </tbody>
     </table>
    </table>
</div>
</div>
