@model IEnumerable<Proyecto_Facultad.Models.Sede>

<div class="container-fluid pt-4">
    @if (TempData["SuccessMessage"] != null)

    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)

    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Listado de Sedes</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Sedes" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Agregar sede
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre de la Sede</th>
                    <th>País</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(s => s.NombreSede))

                {
                    <tr>
                        <td>@item.NombreSede</td>
                        <td>@item.Pais</td>
                        <td>
                            <a asp-controller="Sedes" asp-action="Edit" asp-route-id="@item.IdSede" class="btn btn-primary w-100">
                                <i class="bi bi-pencil-fill"></i> Editar
                            </a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
