@model List<Proyecto_Facultad.Models.Usuario>

<div class="container-fluid pt-4">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Listado de Usuarios</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Usuario" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Agregar Usuario
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre Usuario</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model.OrderBy(u => u.NombreUsuario))
                {
                    <tr>
                        <td>@usuario.NombreUsuario</td>
                        <td>@usuario.IdRolNavigation.NombreRol</td> <!-- Muestra el nombre del rol -->
                        <td>@(usuario.EstadoUsuario ? "Activo" : "Inactivo")</td>
                        <td style="align-items: center;">
                            <div class="btn-group w-50" role="group" style="justify-content: center; align-items: center; display: flex;">
                                <div style="padding-right: 2%;">
                                    <a asp-controller="Usuario" asp-action="Edit" asp-route-id="@usuario.IdUsuario" class="btn btn-warning flex-grow-1">
                                    <i class="bi bi-pencil-fill"></i> Editar
                                </a>
                                </div>
                                <div>
                                    
                                <form asp-action="Deactivate" method="post" class="flex-grow-1">
                                    <button type="submit" asp-controller="Usuario" asp-action="Deactivate" asp-route-id="@usuario.IdUsuario" class="btn btn-danger w-100">
                                        <i class="bi bi-trash-fill"></i> Activar/Desactivar
                                    </button>
                                </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
