@model IEnumerable<dynamic>

<div class="container-fluid pt-4">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Asignar alumno a mesa</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="AsignacionAlumno" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Asignar un alumno a una mesa
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>

                    <!-- Trae solo los campos necesarios, no todos-->
                    <th>Nombre del alumno</th>
                    <th>Mesa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.IdAsignacionalumnos))
                {
                    <tr>
                        <td>@obj.NombreCompletoAlumno</td>
                        <td>@obj.Mesa</td>
                        <td>
                            <div class="btn-group w-100" role="group">
                                <a asp-controller="AsignacionAlumno" asp-action="Edit" asp-route-id="@obj.IdAsignacionalumnos" class="btn btn-primary flex-grow-1">
                                    <i class="bi bi-pencil-fill"></i> Editar
                                </a>
                                <form asp-controller="AsignacionAlumno" asp-action="Delete" asp-route-id="@obj.IdAsignacionalumnos" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-danger flex-grow-1" onclick="return confirm('¿Estás seguro de que deseas eliminar esta asignación?');">
                                        <i class="bi bi-trash-fill"></i> Eliminar
                                    </button>
                                </form>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
